.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar {
  height: 100%;
  width: 350px;
  position: absolute;
  background-color: green;
  z-index: 2;
  opacity: 0.5;
}